# Operating System files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store
._*
.Spotlight-V100
.Trashes

# Editor & IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*~
